@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
	box-sizing: border-box;
}

body{
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

h2{
	font-family: 'Roboto';
}
.bgNav{
	color: #94bbe9;
}
nav img{
	width: 150px;
}

.bgCard{
	background-color: #d9b8d3;
	border: 4px;
	border-color: aqua;
	border-style: solid;
}

h3{
	font-family: 'Roboto';
 	font-size: larger;
	font-weight: bold;
}

p{
	font-style: bold;
}
nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}